<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="main_chat">
  <div class="main-chat-header">
    <h1 class="main-chat-name" th:text="${roomEntity.name}">hogefuga</h1>
    <div class="fin-chat-box">
      <form th:action="@{/rooms/{roomId}/delete(roomId=${roomEntity.id})}" method="post">
        <input type="submit" value="チャットを終了する"/>
      </form>
    </div>
  </div>

  <div class="main-chat-main">
    <div class="chat-content" th:each="message : ${messageEntities}">
      <div class="chat-username-date-box">
        <h1 class="chat-username" th:text="${message.user.name}">Tom</h1>
        <p class="chat-date" th:text="${#dates.format(message.createdAt, 'yyyy/MM/dd HH:mm:ss')}">2021/05/10(Mon) 12:43:30</p>
      </div>
      <p class="chat-text" th:text="${message.content}">おはよう</p>
      <div th:if="${message.image}">
        <img th:src="@{${message.image}}" alt="メッセージ画像" style="width: 500px; height: 500px;"/>
      </div>
    </div>
  </div>

  <div class="main-chat-footer">
    <form th:action="@{/rooms/{roomId}/messages(roomId=${roomEntity.id})}" method="post" th:object="${messageForm}" class="chat-form" enctype="multipart/form-data">
      <div class="form">
        <div class="form-input">
          <input th:field="*{content}" class="form-message" placeholder= "type a message">
          <label class="form-image">
            <span class="image-file">画像</span>
            <input type="file" th:field="*{image}" class="hidden">
          </label>
        </div>
        <input class="form-submit" type="submit" value="送信">
      </div>
    </form>
  </div>
</div>
</html>