<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="side_bar">
  <div class="side-bar-header">
    <a th:href="@{/users/{userId}/edit(userId=${user.id})}" th:text="${user.name}" class="side-bar-user-name">ユーザー名</a>
    <a href="#" class="side-bar-create-chat">チャットを作成する</a>
  </div>
  <div class="side-bar-main">
    <div class="side-bar-chat-name">
      <a href="#" class="side-bar-chat-name-link">techroom1</a>
    </div>
    <div class="side-bar-chat-name">
      <a href="#" class="side-bar-chat-name-link">techroom2</a>
    </div>
  </div>
</div>
</html>